.button-head  {
  float:left; 
  height: 50px; 
  width: 120px; 
  background-color:rgb(34, 79, 153); 
  border-radius: 20px; 
  border-color: transparent; 
  margin-top: 20px; 
  margin-left: 10px; 
  margin-right: 5px; 
  font-size: medium; 
  color:white;
}
.input-button  {
  float:left; 
  height: 50px; 
  width: 80%; 
  background-color:rgb(255, 255, 255); 
  border-radius: 20px; 
  border-color: transparent; 
  margin-top: 20px; 
  margin-left: 15px;  
  font-size: medium; 
  color:black;
}
.searche-button  {
  float:left; 
  height: 50px; 
  width: 10%; 
  background-color:rgb(30, 69, 132); 
  border-radius: 100px; 
  border-color: transparent; 
  margin-top: 20px; 
  margin-left: 15px;  
}
.delivery-button  {
float:left; 
height: 39px; 
width: 500px; 
background-color:rgb(48, 111, 213); 
margin-left: 10px; 
border-color: transparent; 
color:white; 
font-size: medium;
}
.deal-button  {
background-color: rgb(48, 111, 213); 
margin-left: 10px; 
margin-top: 7px; 
border-color: transparent; 
color: white; 
font-size: medium;
float: left;
}
<body>
  <div style="height: 89px; background-color:rgb(48, 111, 213);">
      <div style="height: 89px; width: 30%; background-color:rgb(48, 111, 213); float: left;">
              <button class="button-head"> Walmart</button>
              <button class="button-head"> Departments</button>
              <button class="button-head"> Services</button>
      </div>
      <div style="height: 89px; width: 40%; float: left; background-color:rgb(48, 111, 213);">
        <input class="input-button" type="text">
        <button class="searche-button"> O</button>
      </div>
      <div style="height: 89px; width: 30%; float: left; background-color:rgb(48, 111, 213);">
        <button class="button-head"> My Items</button>
        <button class="button-head"> Account</button>
        <button class="button-head"> Basket</button>
      </div>
  </div>
  <div ></div>
  <div style="height: 3px; background-color: white;"></div>
  <div style="height: 39px; width: 55%; background-color:rgb(48, 111, 213); float: left;">
      <button class="delivery-button">How do you whant your Items? </button>
    </div>
    <div style="height: 39px; width: 45%; background-color:rgb(48, 111, 213); float: left;">
      <button class="deal-button">Deal #0</button>
      <button class="deal-button">Deal #1</button>
      <button class="deal-button">Deal #2</button>
      <button class="deal-button">Deal #3</button>
      <button class="deal-button">Deal #4</button>
      <button class="deal-button">Deal #5</button>
      <button class="deal-button">Deal #6</button>
    </div>